$toast-width: 350px;
$toast-background: #ffffff;
$font-color: #999;
$font-size: 13px;
$animation-duration: 0.75s;

$color-default: #fffffff6;
$color-info: #3498db;
$color-success: #9ed4a0;
$color-warning: #eece4e;
$color-error: #f15443;

$color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);



